*{margin: 0;padding: 0}
html{
	width: 750px;
}
body{
	font-size:20px;
	position:relative;
}
#txt{width: 100%;}
h1{
	text-align: center;
}
p{
	text-indent: 2em;
}
.img{
	text-align:center;
}
.wordexplain{
	position: absolute;
	background-color: rgba(117,208,234,0.9);
	border:1px solid #75cbd0;
	display: none;
	max-width: 300px;
}
.wordexplain p{
	text-indent:0;
	font-size:14px;
}
a{
	text-decoration: none;
	color: #000;
}
